In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')


def formattingStyle():
    # This will change to your computer's default Times New Roman font
    plt.rcParams["font.family"] = "Calibri"
    
    # setting the font size
    SMALL_SIZE = 12
    MEDIUM_SIZE = 12
    BIGGER_SIZE = 12

    plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
    plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
    plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
    plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
    plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
    plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
    plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

    # set the style of the plots
    sns.set_style("white",  {'axes.edgecolor': '0.0', 'axes.linewidth': 0.1, 'grid.color': '.9'}) 

    # set the color palette
    sns.set_palette("RdPu")

    pd.options.display.float_format = '{:,.2f}'.format

formattingStyle()

# **Setting**

----

In [2]:
try:
    from google.colab import drive
    colab = True
    drive.mount('/content/drive')
    data_path = '/content/drive/Shared drives/MSD 23 Drive/Datasets'
    output_path = '/content/drive/Shared drives/MSD 23 Drive/Figures'
except:
    colab = False
    data_path = './MSD Datathon Files/Datasets/'
    output_path = './MSD Datathon Report/figures/'

print('Data path: ', data_path)
print('Output path: ', output_path)

Data path:  ./MSD Datathon Files/Datasets/
Output path:  ./Figures/

# **Data Loading**

---

In [3]:
## CREATION OF DATASET COMPATIBLE.
#DATASETS  ARE DIFFERENT IN BETWEEN YEARS SO THEY HAVE TO BE DONE SEPARATELY. 
#Handle meanings: 
# PRUDRATE: Pain reliever use disorder ratio past year. 
# OUDRATE: Opioid use disorder ratio past year.
# AUDRATE: Alcohol use disorder ratio past year. 
# SUDRATE: Substance use disorder ratio past year.
# NEED1: Needing But Not Receiving Treatment at a Specialty Facility for Illicit Drug Use in the Past Year.
# NEED2: Needing But Not Receiving Treatment at a Specialty Facility for Alcohol Use in the Past Year. 
# NEED3: Needing But Not Receiving Treatment at a Specialty Facility for Substance Use in the Past Year. 

#2021
handle_names = ['PRUDRATE', 'OUDRATE','AUDRATE', 'SUDRATE', 'NEED1', 'NEED2', 'NEED3']
table_numbers = [22, 23, 24, 25, 26, 27, 28]
prevalence_2021 = pd.DataFrame()

for i in range(0, 7):
  df = pd.read_excel( os.path.join(data_path, 'NSDUH Dataset/prevalence_2021.xlsx') , sheet_name = 'Table '+ str(table_numbers[i]))
  #Get clean dataset.
  x = df.tail(57)
  x.reset_index(inplace=True, drop=True)
  x.columns = x.iloc[0]
  x = x.drop(index = 0)
  x = x[['State','18+\nEstimate']].iloc[5:,:]
  x.rename(columns={'18+\nEstimate': handle_names[i]}, inplace=True)
  if i == 0: 
    prevalence_2021 = x
  else:
    prevalence_2021 = pd.merge(prevalence_2021, x, on='State')

prevalence_2021['Year'] = 2021


#2019
handle_names = ['PRUDRATE', 'AUDRATE', 'SUDRATE', 'NEED1', 'NEED2', 'NEED3']
table_numbers = [21, 22, 23, 24, 25, 26]

prevalence_2019 = pd.DataFrame()

for i in range(0, 6):
  df = pd.read_excel(os.path.join(data_path, 'NSDUH Dataset/prevalence_2019.xlsx'), sheet_name = 'Table '+ str(table_numbers[i]))
  #Get clean dataset.
  x = df.tail(57)
  x.reset_index(inplace=True, drop=True)
  x.columns = x.iloc[0]
  x = x.drop(index = 0)
  x = x[['State','18 or Older\nEstimate']].iloc[5:,:]
  x.rename(columns={'18 or Older\nEstimate': handle_names[i]}, inplace=True)

  if i == 0: 
    prevalence_2019 = x
  else:
    prevalence_2019 = pd.merge(prevalence_2019, x, on='State')

prevalence_2019['Year'] = 2019


#2018
handle_names = ['PRUDRATE', 'AUDRATE', 'SUDRATE', 'NEED1', 'NEED2', 'NEED3']
table_numbers = [21, 22, 23, 24, 25, 26]

prevalence_2018 = pd.DataFrame()

for i in range(0, 6):
  df = pd.read_excel(os.path.join(data_path, 'NSDUH Dataset/prevalence_2018.xlsx'), sheet_name = 'Table '+ str(table_numbers[i]))
  #Get clean dataset.
  x = df.tail(57)
  x.reset_index(inplace=True, drop=True)
  x.columns = x.iloc[0]
  x = x.drop(index = 0)
  x = x[['State','18 or Older\nEstimate']].iloc[5:,:]
  x.rename(columns={'18 or Older\nEstimate': handle_names[i]}, inplace=True)

  if i == 0: 
    prevalence_2018 = x
  else:
    prevalence_2018 = pd.merge(prevalence_2018, x, on='State')

prevalence_2018['Year'] = 2018


#2017
handle_names = ['PRUDRATE', 'AUDRATE', 'SUDRATE', 'NEED1', 'NEED2', 'NEED3']
table_numbers = [21, 22, 23, 24, 25, 26]

prevalence_2017 = pd.DataFrame()

for i in range(0, 6):
  df = pd.read_excel(os.path.join(data_path, 'NSDUH Dataset/prevalence_2017.xlsx'), sheet_name = 'Table '+ str(table_numbers[i]))
  #Get clean dataset.
  x = df.tail(57)
  x.reset_index(inplace=True, drop=True)
  x.columns = x.iloc[0]
  x = x.drop(index = 0)
  x = x[['State','18 or Older\nEstimate']].iloc[5:,:]
  x.rename(columns={'18 or Older\nEstimate': handle_names[i]}, inplace=True)

  if i == 0: 
    prevalence_2017 = x
  else:
    prevalence_2017 = pd.merge(prevalence_2017, x, on='State')

prevalence_2017['Year'] = 2017


#2016
handle_names = ['PRUDRATE', 'AUDRATE', 'SUDRATE', 'NEED1', 'NEED2', 'NEED3']
table_numbers = [20, 21, 22, 23, 24, 25]

prevalence_2016 = pd.DataFrame()

for i in range(0, 6):
  df = pd.read_excel(os.path.join(data_path, 'NSDUH Dataset/prevalence_2016.xlsx'), sheet_name = 'Table '+ str(table_numbers[i]))
  #Get clean dataset.
  x = df.tail(57)
  x.reset_index(inplace=True, drop=True)
  x.columns = x.iloc[0]
  x = x.drop(index = 0)
  x = x[['State','18 or Older\nEstimate']].iloc[5:,:]
  x.rename(columns={'18 or Older\nEstimate': handle_names[i]}, inplace=True)

  if i == 0: 
    prevalence_2016 = x
  else:
    prevalence_2016 = pd.merge(prevalence_2016, x, on='State')

prevalence_2016['Year'] = 2016

In [4]:
us_states_abbrev = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
                    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC',
                    'Florida': 'FL', 'Georgia': 'GA',  'Hawaii': 'HI', 'Idaho': 'ID',
                    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY',
                    'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI',
                    'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE',
                    'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
                    'North Carolina': 'NC', 'North Dakota': 'ND',  'Ohio': 'OH',
                    'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI',
                    'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
                    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
                    'Wisconsin': 'WI', 'Wyoming': 'WY'}

U.S. territories (not states)
- 'Guam': 'GU'
- 'Puerto Rico': 'PR'
- 'American Samoa': 'AS'
- 'Northern Mariana Islands':'MP'
- 'Virgin Islands': 'VI'

In [5]:
prevalence_df = pd.concat([prevalence_2021, prevalence_2019, prevalence_2018, prevalence_2017, prevalence_2016], ignore_index=True)
prevalence_df['STATE'] = prevalence_df['State'].map(us_states_abbrev)
prevalence_df.rename(columns={'Year': 'year'}, inplace=True)

name = 'prevalence_cleaned.csv'
file = os.path.join(data_path, 'NSDUH Dataset', name)
prevalence_df.to_csv(file, index = False)
prevalence_df

,State,PRUDRATE,OUDRATE,AUDRATE,SUDRATE,NEED1,NEED2,NEED3,year,STATE
0,Alabama,0.03,0.03,0.10,0.16,0.07,0.10,0.13,2021,AL
1,Alaska,0.02,0.02,0.13,0.22,0.10,0.13,0.19,2021,AK
2,Arizona,0.02,0.02,0.11,0.17,0.08,0.11,0.15,2021,AZ
3,Arkansas,0.02,0.03,0.10,0.16,0.07,0.10,0.13,2021,AR
4,California,0.02,0.02,0.12,0.17,0.07,0.11,0.15,2021,CA
...,...,...,...,...,...,...,...,...,...,...
250,Virginia,0.01,NaN,0.06,0.08,0.02,0.06,0.07,2016,VA
251,Washington,0.01,NaN,0.06,0.08,0.03,0.06,0.08,2016,WA
252,West Virginia,0.01,NaN,0.05,0.06,0.02,0.05,0.06,2016,WV
253,Wisconsin,0.01,NaN,0.08,0.09,0.02,0.07,0.09,2016,WI
254,Wyoming,0.01,NaN,0.07,0.08,0.02,0.07,0.08,2016,WY

# **Merge**

---

In [6]:
# load data on treatment facilities
facilities_df = pd.read_csv(os.path.join(data_path, 'facility_state_year.csv'))
# load data on treatments 
#teds_df = pd.read_csv(os.path.join(data_path, 'teds_state_year.csv'))

In [7]:
df =prevalence_df.merge(facilities_df, on=['year', 'STATE'], how='left')
#df = df.merge(teds_df, on=['year', 'STATE'], how='left')

In [8]:
print(df['STATE'].nunique())
df['STATE'].unique()

print(set(df['STATE'].unique()) - set(us_states_abbrev.values()))

51
set()

In [9]:
# drop if 'PR', 'VI', 'FM', 'PW', 'MP', 'ZZ', 'GU'
# drop duplicate columns
df = df.loc[:,~df.columns.duplicated()]
df = df[~df['STATE'].isin(['PR', 'VI', 'FM', 'PW', 'MP', 'ZZ', 'GU'])]
df.year = df.year.astype(int)
df.head(5)

,State,PRUDRATE,OUDRATE,AUDRATE,SUDRATE,NEED1,NEED2,NEED3,year,STATE,...,OWNERSHP_State government,OWNERSHP_Tribal Government,ASSESSMENT,TESTING,TRANSITION,ANCILLARY,OTHER_SRVC,facility_counts,population,facility_density
0,Alabama,0.03,0.03,0.10,0.16,0.07,0.10,0.13,2021,AL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,0.02,0.02,0.13,0.22,0.10,0.13,0.19,2021,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,0.02,0.02,0.11,0.17,0.08,0.11,0.15,2021,AZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,0.02,0.03,0.10,0.16,0.07,0.10,0.13,2021,AR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,0.02,0.02,0.12,0.17,0.07,0.11,0.15,2021,CA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
name = 'prevalence_facilities_cleaned.csv'
file = os.path.join(data_path,  name)

df.to_csv(file, index = False)